<div class="devise-wrapper">
  <div class="registrations-title">ユーザー登録</div>
  <div class="registrations-wrapper">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }, data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", placeholder: "tanaka.tarou@prum.jp" %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "田中太郎" %>
      </div>

      <div class="field">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, placeholder: "tanaka.0101" %>
      </div>

      <div class="field image-field">
        <%= f.label :user_icon, for: "user_icon_input" do %>
          <%= f.label :user_icon %>
          <div class="image-select-area">
            <div class="image-select-wrapper">
              <i class="fas fa-camera" id="cameraIcon"></i>
              <p id="selectIcon" style="margin-right: 10px; margin-left: 5px;"> アイコンを選択</p>
              <div class="user-icon-preview-container" id="user_icon_preview_container" style="display: none;">
                <div class="preview-wrapper" style="display: flex; align-items: center;">
                  <img id="user_icon_preview" src="" alt="User Icon Preview" style="width: 32px; max-height: 33px; border-radius:100%;">
                  <span id="file_name" style="font-family: auto; color: #0E1838; margin-left: 5px;"></span>
                </div>
              </div>
            </div>
          </div>
          <%= f.file_field :user_icon, class: "image_form", id: "user_icon_input", onchange: "previewFile()", style: "display: none;" %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "●●●●●●" %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>

      <hr>
    <% end %>

    <p class="confirm-to-session">アカウントをお持ちですか？<%= render "devise/shared/links" %></p>
  </div>
</div>

<script>
  function previewFile() {
    var previewContainer = document.getElementById('user_icon_preview_container'); // プレビューを包むコンテナを取得
    var preview = document.getElementById('user_icon_preview'); // プレビューを表示する要素を取得
    var fileNameElement = document.getElementById('file_name'); // ファイル名を表示する要素を取得
    var fileInput = document.getElementById('user_icon_input'); // ファイルのinput要素を取得
    var file = fileInput.files[0]; // 選択されたファイルを取得
    var reader = new FileReader(); // FileReaderオブジェクトを作成
    var cameraIcon = document.getElementById('cameraIcon');
    var selectIcon = document.getElementById('selectIcon');

    // 読み込みが完了したときのイベントハンドラ
    reader.onloadend = function () {
      // ファイルが選択されている場合のみプレビューを表示
      if (file) {
        preview.src = reader.result; // プレビューのsrcにデータURLを設定
        previewContainer.style.display = "block"; // プレビューを表示するコンテナを表示
        fileNameElement.innerText = file.name; // ファイル名を表示する
        cameraIcon.style.display = "none";
        selectIcon.style.display = "none";
      } else {
        preview.src = ""; // ファイルが選択されていない場合はプレビューをクリア
        previewContainer.style.display = "none"; // プレビューを表示するコンテナを非表示
        fileNameElement.innerText = ""; // ファイル名をクリア
      }
    };

    if (file) {
      reader.readAsDataURL(file); // ファイルを読み込む
    }
  }
</script>

