<% @activities.each do |activity| %>
    <% if activity.is_a?(Post) %>
      <div class="post-img">
        <% if activity.user && activity.user.user_icon.attached? %>
          <%= image_tag activity.user.user_icon.variant(resize: '48x48'), class: 'user-icon' %>
        <% else %>
          <%= image_tag('prum.png', size: '48x48', class: 'user-icon') %>
        <% end %>
        <table class="post-table">
          <tbody>
            <tr>
              <td>
                <span class="name"><%= activity.user.name %></span>
                <span class="user_name"><%= activity.user.user_name %></span>
                <span class="timestamp"><%= time_ago_in_japanese_words(activity.created_at) %></span>
              </td>
            </tr>
            <tr>
              <td><%= activity.body %></td>
            </tr>
            <tr>
              <td><%= image_tag('GPS.png', alt: 'gps', class: 'post-image') %></td>
            </tr>
            <tr>
              <td>
                コメント、いいね表示エリア
              </td>
            </tr>
        </tbody>
      </table>
    <% elsif activity.is_a?(Comment) %>
      <div class="post-img">
          <% if activity.user && activity.user.user_icon.attached? %>
            <%= image_tag activity.user.user_icon.variant(resize: '48x48'), class: 'user-icon' %>
          <% else %>
            <%= image_tag('prum.png', size: '48x48', class: 'user-icon') %>
          <% end %>
          <table class="post-table">
            <tbody>
              <tr>
                <td>
                  <span class="name"><%= activity.user.name %></span>
                  <span class="user_name"><%= activity.user.user_name %></span>
                  <span class="timestamp"><%= time_ago_in_japanese_words(activity.created_at) %></span>
                </td>
              </tr>
              <tr>
                <td><%= activity.body %></td>
              </tr>
              <tr>
                <td>
                  コメント、いいね表示エリア
                </td>
              </tr>
            </tbody>
        </table>
    <% end %>
    </div>
  <% end %>