<turbo-frame id="post_1">
  <div class="transition">
    <%= link_to "ツイート", root_path,style: "color: #777777;", class: "tweet_link #{current_page?(root_path) ? 'active' : ''}", aria_current: "page" %>
    <%= link_to "ツイートと返信", comments_path,style: "color: black;", class: "reply_link #{current_page?(comments_path) ? 'active' : ''}", aria_current: "page" %>
  </div>
  <div class="scroll">
    <% @activities.each do |activity| %>
      <% if activity.is_a?(Post) %>
        <div class="post-container">
          <div class="post-img">
            <% if activity.user && activity.user.user_icon.attached? %>
              <%= image_tag activity.user.user_icon.variant(resize: '48x48'), class: 'user-icon' %>
            <% else %>
              <%= image_tag('prum.png', size: '48x48', class: 'user-icon') %>
            <% end %>
            <table class="post-table">
              <tbody>
                <tr>
                  <td>
                    <span class="name"><%= activity.user.name %></span>
                    <span class="user_name">＠<%= activity.user.user_name %></span>
                    <span class="timestamp"><%= time_ago_in_japanese_words(activity.created_at) %></span>
                  </td>
                </tr>
                <tr>
                  <td><%= link_to activity.body,post_path(activity.id) %></td>
                </tr>
                <tr>
                  <td><%= image_tag('GPS.png', alt: 'gps', class: 'post-image') %></td>
                </tr>
                <tr>
                  <td>
                    <div class="posts_icon_area">
                      <%= link_to '#', class: 'comments_icon' do %>
                        <%= image_tag('comment.png', alt: 'Icon', size: '16x15') %>
                        <span class="comment-count"><%= activity.comments.count %></span>
                      <% end %>
                      <%= link_to '#', class: 'nice_icon' do %>
                        <span class="icon"><%= image_tag('nice.png', alt: 'Icon') %></span>
                      <% end %>
                        <%= link_to '#', class: 'destroy_icon' do %>
                        <span class="icon"><%= image_tag('destroy.png', alt: 'Icon') %></span>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </table>
      <% elsif activity.is_a?(Comment) %>
        <div class="post-container">
          <div class="post-img">
            <% if activity.user && activity.user.user_icon.attached? %>
              <%= image_tag activity.user.user_icon.variant(resize: '48x48'), class: 'user-icon' %>
            <% else %>
              <%= image_tag('prum.png', size: '48x48', class: 'user-icon') %>
            <% end %>
            <table class="post-table">
              <tbody>
                <tr>
                  <td>
                    <span class="name"><%= activity.user.name %></span>
                    <span class="user_name">@<%= activity.user.user_name %></span>
                    <span class="timestamp"><%= time_ago_in_japanese_words(activity.created_at) %></span>
                  </td>
                </tr>
                <tr>
                  <td><%= link_to activity.body,comment_path(activity.id) %></td>
                </tr>
                <tr>
                  <td>
                    <div class="posts_icon_area">
                      <%= link_to '#', class: 'comments_icon' do %>
                        <%= image_tag('comment.png', alt: 'Icon', size: '16x15') %>
                        <span class="comment-count"><%=  %></span>
                      <% end %>
                        <%= link_to '#', class: 'nice_icon' do %>
                        <span class="icon"><%= image_tag('nice.png', alt: 'Icon') %></span>
                      <% end %>
                        <%= link_to '#', class: 'destroy_icon' do %>
                        <span class="icon"><%= image_tag('destroy.png', alt: 'Icon') %></span>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</turbo-frame>