<div class="side-text">
  <img src="/assets/prum_logo.png"  class="logo">
    <ul class="channel-list">
      <li><%= link_to 'ホーム', '#', class: 'home-button' %></li>
      <li><%= link_to 'プロフィール', '#', class: 'profile-button' %></li>
      <li><%= link_to '設定', '#', class: 'profile-button' %></li>
    </ul>
    <%= button_to 'ツイートする', '#', method: :get, class: "tweet-button" %>
    <div class="logout-container">
      <%= link_to 'ログアウト', '#', class: 'logout-button' %>
    </div>
</div>