<div class="side-text">
  <img src="/assets/prum_logo.png" class="logo">
  <ul class="channel-list">
    <li>
      <%= link_to root_path, class: 'home_button' do %>
        <span class="icon"><%= image_tag('home.png', alt: 'Icon') %></span>
        <span class="link-text">ホーム</span>
      <% end %>
    </li>
    <li>
      <%= link_to user_path(current_user), class: 'profile_button' do %>
        <span class="icon"><%= image_tag('profile.png', alt: 'Icon') %></span>
        <span class="link-text">プロフィール</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'setting_button' do %>
        <span class="icon"><%= image_tag('setting.png', alt: 'Icon') %></span>
        <span class="link-text">設定</span>
      <% end %>
    </li>
  </ul>
  <%= button_to 'ツイートする', '#', method: :get, class: "tweet-button" %>
  <div class="logout-container">
    <a href="#" class="logout_button" id="logoutIcon">
      <%= image_tag('logout.png', alt: 'Icon') %>
      <span class="link-text">ログアウト</span>
    </a>
  </div>
</div>






<script>
  // フォローボタンがクリックされたときにモーダルを表示
  document.getElementById('unfollow_modal').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('unfollowModal').style.display = 'block';
  });

  // モーダル内の「フォロー解除」ボタンがクリックされたときの処理
  document.getElementById('unfollowButton').addEventListener('click', function() {
    // フォロー解除の実際の処理をここに追加する

    // モーダルを閉じる
    document.getElementById('unfollowModal').style.display = 'none';
  });

  // モーダル内のキャンセルボタンがクリックされたときの処理
  document.getElementById('cancelUnfollow').addEventListener('click', function() {
    // モーダルを閉じる
    document.getElementById('unfollowModal').style.display = 'none';
  });

  // モーダル外をクリックしたら閉じる
  window.onclick = function(event) {
    if (event.target == document.getElementById('unfollowModal')) {
      document.getElementById('unfollowModal').style.display = 'none';
    }
  };
</script>