<div class="side_area">
  <%= render 'posts/sidebar' %>
</div>

<div class="main_area">
  <div class ="user_area">
    <div class="profile_area">  
      <%= image_tag('profile_top.png') %>
    </div>
    <div class="thumbnail_area">
      <% if @user && @user.user_icon.attached? %>
        <%= image_tag @user.user_icon %>
      <% else %>
        <%= image_tag('prum.png') %>
      <% end %>
      <div class ="edit_button">
      <% if @user.id.to_s == current_user.id.to_s %>
        <%= button_to 'プロフィールを編集', '#', method: :get, class: 'profile_edit_button' %>
      <% else %>  
      <% if current_user.following?(@user) %>
      <%= render 'users/follow_madal'%>
    <% else %>
      <%= button_to 'フォロー', follow_user_path(@user), method: :post, class: 'follow-button' %>
    <% end %>
      <% end %>
      </div>
    </div>
    <div class= "user_information">
      <div class ="name_area">
        <h1><%= @user.name %></h1>
      </div>
      <div class ="email_name">
        <p1>@<%= @user.user_name %></p1>
      </div>
      <div class ="user_description">
        <p2><% if @user.description.present? %>
          <%= @user.description %></p2>
        <% else %>
          <p2>メッセージを設定していません</p2>
        <% end %>
      </div>
      <div class="follow_follower_area">
        <%= link_to "フォロー中", follows_user_path(@user), class: "follow-count" %>
        <span class="follow-count-number"><%= @user.following.count %></span>
        <%= link_to "フォロワー", followers_user_path(@user), class: "follower-count" %>
        <span class="follow-count-number"><%= @user.followers.count %></span>
      </div>
    </div>
  </div>
  <div class="transition">
      <%= link_to "ツイート", user_path(@user),style: "color: black;", class: "tweet_link #{current_page?(user_path) ? 'active' : ''}", aria_current: "page" %>
      <%= link_to "ツイートと返信", comments_path(user_id: @user),style: "color: #777777;", class: "reply_link #{current_page?(comments_path) ? 'active' : ''}", aria_current: "page" %>
    </div>
  <div class="post_area">
      <%= render 'posts/index' %>
  </div>
</div>

<%# モーダル表示%>
<%= render 'posts/madal' %>
