<div class="side_area">
  <%= render 'users/sidebar' %>
</div>

<div class="followers-wrapper">
  <div class="followers-container">
    <div class="followers-top">
      <%= link_to "←", :back, class: "return-button" %>
      <div class="user-info">
        <p class="followers-user-name"><%= @user.name %></p>
        <p class="followers-user-user_name"><%= @user.user_name %></p>
      </div>
    </div>
    <div class="follow-tabs">
      <div class="followers-tab">
        <p class="followers-tab-text">フォロワー</p>
      </div>
    <div class="followings_tab">
      <%= link_to "フォロー中", follows_user_path(@user), class: "followings-tab-text" %>
    </div>
    </div>
  </div>
  <div class="followers-info">
    <% @followers.each do |follower| %>
      <div class="follower-info">
        <% if follower.user_icon.present? %>
          <%= image_tag follower.user_icon, alt: "User Icon", class: "follower-icon" %>
        <% else %>
        <%= image_tag('prum.png', size: '48x48', class: 'user-icon') %>
      <% end %>
        <div class="follower-names">
          <p class="follower-name"><%= follower.name %></p>
          <p class="follower-user_name"><%= follower.user_name %></p>
        </div>
        <% if @following.include?(follower) %>
          <div class="unfollow-btn-container">
            <%= link_to "フォロー中", "#", class: "unfollow-btn text-center", disabled: true %>
          </div>
        <% else %>
          <div class="follow-btn-container">
            <%= link_to "フォロー", "#", class: "follow-btn text-center" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>