<div class="devise-wrapper">
  <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
  <% end %>
<div class="registrations-title"></div>
  <div class="login-wrapper">
    <div class="login-title">ログイン</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="field">
        <%= f.label :login %>
        <%= f.text_field :login, autofocus: true, autocomplete: "email", placeholder: "ユーザー名またはメールアドレス" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "●●●●●●" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>

      <hr>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


