<div class="side_area">
  <%= render 'posts/sidebar' %>
</div>

<div class="main_area follow_main">
    <div class="follow_user_area">
      <div class="flexbox">
        <%= link_to user_path(@user), class: "back-to-user-button" do %>
          <i class="fa fa-arrow-left"></i>
        <% end %>

        <div class="info_container">
            <div class="follow_name">
              <p><%= @user.name %></p>
            </div>
          
            <div class="follow_user_name">
              <p>@<%= @user.user_name %></p>
            </div>
        </div>
      </div> 

      <div class="toggle-buttons">
          <%= link_to 'フォロワー', followers_user_path(@user), class: "follower-link" %>

          <div class="following-button">
              <%= link_to 'フォロー中', follows_user_path(@user), class: "following-link" %>
              <div class="underline"></div>
          </div>
     </div>

     <div class="follow_area">
     <div class="follow-list" id="following-list">
       <ul>
         <% @followed_users.each do |following_user| %>
           <div class="flexbox followings_user">
             <div class="follow-date-icon">
               <% if following_user && following_user.user_icon.attached? %>
                 <%= image_tag following_user.user_icon, class: "rounded-image"%>
               <% else %>
                 <%= image_tag('prum.png') %>
               <% end %>
             </div>
   
             <div class="follow-date-name">
               <li class="following-name"><%= following_user.name %></li>
               <li class="following-user-name">@<%= following_user.user_name %></li>
             </div>

             <% if current_user.following.include?(following_user) %>
             <div class="unfollow-btn-container">
               <%= button_to "フォロー中", unfollow_user_path(following_user), method: :delete, class: "unfollow-btn text-center",id:"unfollow_modal_#{following_user.id}" %>
             </div>
           <% else %>
             <div class="follow-btn-container">
               <%= button_to "フォロー", follow_user_path(following_user), method: :post, class: "follow-btn text-center" %>
             </div>
           <% end %>

           </div>
         <% end %>
       </ul>
     </div>
   </div>
   
  </div>

  <%# モーダル表示 %>
<%= render 'posts/madal' %>


<% @followed_users.each do |following_user| %>
  <div id="unfollowModal_<%= following_user.id %>" class="modal">
    <div class="modal-content">
      <p class="text-confirm"><%= "#{following_user.name} さんをフォロー解除しますか？" %></p>
      <p class="text-guide">このアカウントのツイートはホームタイムラインに表示されなくなります。ツイートが非公開になっている場合を除き、プロフィールを表示することはできます。</p>
      <%= button_to 'フォロー解除', unfollow_user_path(following_user), method: :delete, class: 'follow-madal-button', id: 'unfollowButton' %>
      <button id="cancelUnfollow">キャンセル</button>
    </div>
  </div>
<% end %>

<script>
  // フォローボタンがクリックされたときにモーダルを表示
  <% @followed_users.each do |following_user| %>
    document.getElementById('unfollow_modal_<%= following_user.id %>').addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('unfollowModal_<%= following_user.id %>').style.display = 'block';
    });
  <% end %>

  // モーダル内の「フォロー解除」ボタンがクリックされたときの処理
  document.querySelectorAll('.follow-madal-button').forEach(function(button) {
    button.addEventListener('click', function() {
      // フォロー解除の実際の処理をここに追加する

      // モーダルを閉じる
      this.closest('.modal').style.display = 'none';
    });
  });

  // モーダル内のキャンセルボタンがクリックされたときの処理
  document.getElementById('cancelUnfollow').addEventListener('click', function() {
    // モーダルを閉じる
    document.querySelectorAll('.modal').forEach(function(modal) {
      modal.style.display = 'none';
    });
  });

  // モーダル外をクリックしたら閉じる
  window.onclick = function(event) {
    if (event.target.classList.contains('modal')) {
      event.target.style.display = 'none';
    }
  };
</script>

