<div class="side_area">
  <%= render 'posts/sidebar' %>
</div>

<div class="main_area follow_main">
    <div class="follow_user_area">
      <div class="flexbox">
        <%= link_to user_path(@user), class: "back-to-user-button" do %>
          <i class="fa fa-arrow-left"></i>
        <% end %>

        <div class="info_container">
            <div class="follow_name">
              <p><%= @user.name %></p>
            </div>
          
            <div class="follow_user_name">
              <p>@<%= @user.user_name %></p>
            </div>
        </div>
      </div> 

      <div class="toggle-buttons">
          <%= link_to 'フォロワー', followers_user_path(@user), class: "follower-link" %>

          <div class="following-button">
              <%= link_to 'フォロー中', follows_user_path(@user), class: "following-link" %>
              <div class="underline"></div>
          </div>
     </div>

     <div class="follow_area">
     <div class="follow-list flexbox" id="following-list">
       <ul>
         <% @following_users.each do |following_user| %>
           <div class="flexbox followings_user">
             <div class="follow-date-icon">
               <% if following_user && following_user.user_icon.attached? %>
                 <%= image_tag following_user.user_icon %>
               <% else %>
                 <%= image_tag('prum.png') %>
               <% end %>
             </div>
   
             <div class="follow-date-name">
               <li class="following-name"><%= following_user.name %></li>
               <li class="following-user-name">@<%= following_user.user_name %></li>
             </div>

             <button class="followings-follow-button">フォロー中</button>

           </div>
         <% end %>
       </ul>
     </div>
   </div>
   
  </div>

  <%# モーダル表示 %>
<%= render 'posts/madal' %>

