<div class="main-container">
  <div class="top-area">
    <div class="top-title">ホーム</div>
    <div class="top-flash-area"><%#ツイート失敗時のフラッシュメッセージ%>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div class="tweet-area">
    <% if current_user.user_icon.attached? %>
      <%= image_tag current_user.user_icon, class: "author-icon" %>
    <% else %>
      <%= image_tag 'prum.png', class: "author-icon" %>
    <% end %>
      <%= form_with(model: @post_new, url: posts_path, class: "tweet-form", id: "normal-tweet-form", local: true) do |form| %>
        <%= form.text_area :body, id: "tweet", placeholder: "いまどうしてる？" %>
        <br>
        <%= form.hidden_field :latitude, id: "post_latitude" %>
        <%= form.hidden_field :longitude, id: "post_longitude" %>
        <%= form.submit "ツイートをする", class: "top-tweet", onclick: "updateLocation(event, 'normal-tweet-form')" %>
      <% end %>
    </div>
  </div>

<%# load_more_tweetsを呼び出す%>
<div class="relord-tweets">
  <%= link_to "100件のツイートを取得",load_more_path, class: "load-more-tweets-button",data: {"turbolinks" => false}  %>
</div>
<%# tweet-wrapperにdata-post-idを追加してIDをjsに渡せるよう修正 %>
  <% @posts.each do |post| %>
  <div class="tweet-wrapper" data-post-id="<%= post.id %>"> 
    <%= link_to post_path(post.id), class: "tweet-link" do %>
      <div class="author-info">
        <% if post.user.user_icon.attached? %>
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag post.user.user_icon, class: "author-icon" %>
          <% end %>
        <% else %>
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag 'prum.png', class: "author-icon" %>
          <% end %>
        <% end %>
        <p class="author-name"><%= post.user.name %></p>
        <p class="author-user_name"><%= "@" + post.user.user_name %></p>
        <p class="posted-at"><%= time_ago_in_words(post.created_at) %></p>
      </div>
    <% end %>

    <div class="tweet-text">
      <%= link_to post.body, post_path(post.id), class: "tweet-link" %>
    </div>

    <div class="map-area">
      <%= image_tag post.map_image_url, alt: 'Map Image', class: 'map-img' if post.latitude.present? && post.longitude.present? %>
    </div>

    <div class="tweet-reaction">
      <%= image_tag('comment.svg', alt: 'Icon', class: 'comment-img') %>
      <p class="comment-count"><%= post.comments.count %></p>
      
      <!--- いいね   --->
      <%= render partial: 'likes/likes_btn', locals: { post: post } %>

      <%= image_tag('delete.svg', alt: 'Icon', class: 'delete-img') %>
    </div>
  </div>
<% end %>
</div>



<%# モーダル記述ファイル %>
<%= render 'posts/madal' %>

<%# data-post-idから投稿詳細のリンクを生成、またuserIdを取得しアイコンクリック時はユーザー詳細画面に遷移するよう制御 %>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".tweet-wrapper").forEach(function(wrapper) {
    // ツイートラッパーのクリックイベント
    wrapper.addEventListener("click", function(event) {
      // クリックされた要素がいいねボタンでない場合のみ詳細ページにリダイレクト
      if (!event.target.classList.contains("like-btn")) {
        var postId = this.dataset.postId;
        window.location.href = "/posts/" + postId;
      }
    });

      wrapper.querySelector(".author-icon").addEventListener("click", function(e) {
        e.stopPropagation();
        var userId = this.closest(".tweet-wrapper").dataset.userId;
        window.location.href = "/users/" + userId;
      });
    });
  });

</script>

<%# フラッシュメッセージを5秒後に削除%>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var flashMessages = document.querySelectorAll('.flash-message');
  
    flashMessages.forEach(function(flashMessage) {
      setTimeout(function() {
        flashMessage.style.display = 'none';
      }, 5000);
    });
  });
</script>
