
<div class="side_area">
<%= render 'posts/sidebar' %>
</div>

<div class="main_area">
  <div class="fixed-area">
    <div class="parent-container">
      <div class="top-flash-area"><%#返信失敗時のフラッシュメッセージ%>
        <% flash.each do |message_type, message| %>
          <div class="flash-message <%= message_type %>"><%= message %></div>
        <% end %>
      </div>
      <div class="tweet-wrapper" > 
        <div class="author-info">
          <% if @post.user.user_icon.attached? %>
            <%= link_to user_path(@post.user.id) do %>
              <%= image_tag @post.user.user_icon, class: "author-icon" %>
            <% end %>
          <% else %>
            <%= link_to user_path(@post.user.id) do %>
              <%= image_tag 'prum.png', class: "author-icon" %>
            <% end %>
          <% end %>
          <p class="author-name"><%= @post.user.name %></p>
          <p class="author-user_name"><%= "@" + @post.user.user_name %></p>
          <p class="posted-at"><%= time_ago_in_words(@post.created_at) %></p>
        </div>
        <div class="tweet-text">
          <%= link_to @post.body, post_path(@post.id), class: "tweet-link" %>
        </div>
        <div class="map-area">
          <%= image_tag @post.map_image_url, alt: 'Map Image', class: 'map-img' %>
        </div>
        <div class="tweet-reaction">
          <%= image_tag('comment.svg', alt: 'Icon', class: 'comment-img') %>
          <p class="comment-count"><%= @post.comments.count %></p>
          <%= render partial: 'likes/likes_btn', locals: { post: @post } %>
          <%= image_tag('delete.svg', alt: 'Icon', class: 'delete-img') %>
        </div>
      </div>
    </div>
    <div class="comment-form">
    <%= form_with(model: Comment.new, local: true, data: { turbo: false }) do |form| %>
        <div class="comment-form-wrapper">
            <td class="submit_area">
              <% if @user.user_icon.attached? %>
                <%= image_tag @user.user_icon, class: "author-icon" %>
              <% else %>
                <%= image_tag 'prum.png', class: "author-icon" %>
              <% end %>
              <div class="inline-elements">
                <%= form.text_field :body, class: 'reply_body', placeholder: '返信をツイート' %>
                <%= form.hidden_field :post_id, value: @post.id %>
                <%= form.hidden_field :user_id, value: @user.id %>
              </div>
              <div class="reply ">
                <%= form.submit '返信', class: 'reply_button' %>
              </div>
            </td>
        </div>
      <% end %>
    </div>
  </div>
  <div class="scroll-show-post"> <%#子コメント表示エリア %>
    <% @comments.each do |comment| %>
      <div class="tweet-wrapper-comment" data-comment-id="<%= comment.id %>"> 
        <%= link_to comment_path(comment.id), class: "tweet-link" do %>
          <div class="author-info">
            <% if comment.user.user_icon.attached? %>
              <%= link_to user_path(comment.user.id) do %>
                <%= image_tag comment.user.user_icon, class: "author-icon" %>
              <% end %>
            <% else %>
              <%= link_to user_path(comment.user.id) do %>
                <%= image_tag 'prum.png', class: "author-icon" %>
              <% end %>
            <% end %>
            <p class="author-name"><%= comment.user.name %></p>
            <p class="author-user_name"><%= "@" + comment.user.user_name %></p>
            <p class="posted-at"><%= time_ago_in_words(comment.created_at) %></p>
          </div>
        <% end %>
        <div class="tweet-text">
          <%= link_to comment.body, comment_path(comment.id), class: "tweet-link" %>
        </div>
        <div class="tweet-reaction">
          <%= image_tag('comment.svg', alt: 'Icon', class: 'comment-img') %>
          <p class="comment-count"><%= comment.replies.count %></p>
          <%= render partial: 'likes/comments_likes_btn', locals: { comment: comment } %>
          <%= image_tag('delete.svg', alt: 'Icon', class: 'delete-img') %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# data-post-idから投稿詳細のリンクを生成、またuserIdを取得しアイコンクリック時はユーザー詳細画面に遷移するよう制御 %>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".tweet-wrapper-comment").forEach(function(wrapper) {
    // コメント本文をクリックした場合の処理
    wrapper.addEventListener("click", function(event) {
      // クリックした要素がいいねボタンでない場合は、コメントの詳細ページにリダイレクト
      if (!event.target.classList.contains("like-btn")) {
        var commentId = this.dataset.commentId;
        window.location.href = "/comments/" + commentId;
      }
    });

      wrapper.querySelector(".author-icon").addEventListener("click", function(e) {
        e.stopPropagation();
        var userId = this.closest(".tweet-wrapper-comment").dataset.userId;
        window.location.href = "/users/" + userId;
      });
    });
  });
</script>

<%# サイドバーからのツイートモーダル投稿フォーム %>
<div id="tweetModal" class="modal">
  <div class="modal-content" id="tweetContent">
    <span class="close"><%= image_tag('close.svg', alt: "Close", class: "closeButton", onclick: "closeModal()") %></span>
    <div class="author-info">
      <% if current_user.user_icon.attached? %>
        <%= image_tag current_user.user_icon, class: "author-icon" %>
      <% else %>
        <%= image_tag 'prum.png', class: "author-icon" %>
      <% end %>
      <p class="author-name"><%= current_user.name %></p>
       <p class="author-user_name"><%= current_user.user_name %></p>
    </div>
    <div class="tweet-area">
      <%= form_with(model: @post_new, url: posts_path, class: "tweet-form", id: "modal-tweet-form", local: true) do |form| %>
        <%= form.text_area :body, id: "tweet", placeholder: "いまどうしてる？" %>
        <br>
        <%= form.hidden_field :latitude, id: "post_latitude" %>
        <%= form.hidden_field :longitude, id: "post_longitude" %>
        <%= form.submit "ツイートをする", class: "top-tweet", onclick: "updateLocationInModal(event, 'modal-tweet-form')" %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<%# フラッシュメッセージを5秒後に削除%>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var flashMessages = document.querySelectorAll('.flash-message');
  
    flashMessages.forEach(function(flashMessage) {
      setTimeout(function() {
        flashMessage.style.display = 'none';
      }, 5000);
    });
  });
</script>

<%# モーダル表示%>
<%= render 'posts/madal' %>