
<div class="side_area">
<%= render 'posts/sidebar' %>
</div>

<div class="main_area">
  <div class="fixed-area">
    <div class="parent-container">
      <div class="tweet-wrapper" > 
          <div class="author-info">
            <% if @post.user.user_icon.attached? %>
              <%= link_to user_path(@post.user.id) do %>
                <%= image_tag @post.user.user_icon, class: "author-icon" %>
              <% end %>
            <% else %>
              <%= link_to user_path(@post.user.id) do %>
                <%= image_tag 'prum.png', class: "author-icon" %>
              <% end %>
            <% end %>
            <p class="author-name"><%= @post.user.name %></p>
            <p class="author-user_name"><%= "@" + @post.user.user_name %></p>
            <p class="posted-at"><%= time_ago_in_words(@post.created_at) %></p>
          </div>

        <div class="tweet-text">
          <%= link_to @post.body, post_path(@post.id), class: "tweet-link" %>
        </div>

        <div class="map-area">
          <%= image_tag @post.map_image_url, alt: 'Map Image', class: 'map-img' %>
        </div>

        <div class="tweet-reaction">
          <%= image_tag('comment.svg', alt: 'Icon', class: 'comment-img') %>
          <p class="comment-count"><%= @post.comments.count %></p>
          <%= image_tag('favorite.svg', alt: 'Icon', class: 'favorite-img') %>
          <p class="like-count">10</p>
          <%= image_tag('delete.svg', alt: 'Icon', class: 'delete-img') %>
        </div>
      </div>
    </div>
    <div class="comment-form">
      <%= form_with(model: Comment.new, local: true ) do |form| %>
        <div class="comment-form-wrapper">
            <td class="submit_area">
              <% if @post.user.user_icon.attached? %>
                <%= image_tag @post.user.user_icon, class: "author-icon" %>
              <% else %>
                <%= image_tag 'prum.png', class: "author-icon" %>
              <% end %>
              <div class="inline-elements">
                <%= form.text_field :body, class: 'reply_body', placeholder: '返信をツイート' %>
                <%= form.hidden_field :post_id, value: @post.id %>
                <%= form.hidden_field :user_id, value: @user.id %>
              </div>
              <div class="reply ">
                <%= form.submit '返信', class: 'reply_button' %>
              </div>
            </td>
        </div>
      <% end %>
    </div>
  </div>
<div class="scroll">
    <% @comment.each do |comment| %>
      <div class="post-container">
        <%= link_to user_path(comment.user.id) do %>
        <div class="post-img">
          <% if comment.user && comment.user.user_icon.attached? %>
            <%= image_tag comment.user.user_icon, class: 'author-icon' %>
          <% else %>
            <%= image_tag('prum.png', size: '48x48', class: 'user-icon') %>
          <% end %>
        <% end %>
        <table class="post-table">
          <tbody>
            <tr>
              <td>
                <span class="name"><%= comment.user.name %></span>
                <span class="user_name">@<%= comment.user.user_name %></span>
                <span class="timestamp"><%= time_ago_in_words(comment.created_at) %></span>
              </td>
            </tr>
            <td>
              <%= link_to comment.body%>
            </td>
            <tr>
              <td>
                <div class="posts_icon_area">
                  <%= link_to '#', class: 'comments_icon' do %>
                    <%= image_tag('comment.png', alt: 'Icon', size: '16x15') %>
                    <span class="comment-count"><%= comment.replies.count %></span>
                  <% end %>
                  <%= link_to '#', class: 'nice_icon' do %>
                    <span class="icon"><%= image_tag('nice.png', alt: 'Icon') %></span>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    <% end %>
  </div>
<table>
</table>
</div>

<div id="tweetModal" class="modal">
  <div class="modal-content" id="tweetContent">
    <span class="close"><%= image_tag('close.svg', alt: "Close", class: "closeButton", onclick: "closeModal()") %></span>
    <div class="author-info">
      <% if current_user.user_icon.attached? %>
        <%= image_tag current_user.user_icon, class: "author-icon" %>
      <% else %>
        <%= image_tag 'prum.png', class: "author-icon" %>
      <% end %>
      <p class="author-name"><%= current_user.name %></p>
       <p class="author-user_name"><%= current_user.user_name %></p>
    </div>
    <div class="tweet-area">
      <%= form_with(model: @post_new, url: posts_path, class: "tweet-form", id: "modal-tweet-form", local: true) do |form| %>
        <%= form.text_area :body, id: "tweet", placeholder: "いまどうしてる？" %>
        <br>
        <%= form.hidden_field :latitude, id: "post_latitude" %>
        <%= form.hidden_field :longitude, id: "post_longitude" %>
        <%= form.submit "ツイートをする", class: "top-tweet", onclick: "updateLocationInModal(event, 'modal-tweet-form')" %>
      <% end %>
    </div>
  </div>
  </div>
</div>


